primary_color = hsl(270, 100%, 45%)
text_color = hsl(0, 0%, 20%)
bg_color = hsl(0, 0%, 100%)

primary_color_dark = hsl(270, 100%, 80%)
text_color_dark = hsl(0, 0%, 100%)
bg_color_dark = hsl(0, 0%, 20%)

default_radius = 0.25rem
default_font = -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // Github's system font stack

breakpoints = {
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
}


desktop_text_scale = 1.200rem
mobile_text_scale = 1.125rem

// If you dont know what a text scale is,
// refer https://medium.com/sketch-app-sources/exploring-responsive-type-scales-cf1da541be54
