body {
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  background-color: #fff;
}
body.dark {
  color: #fff;
  background-color: #333;
}
img {
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.75rem 0;
  font-weight: 400;
}
h1 {
  font-size: 2.027rem;
}
@media screen and (min-width: 640px) {
  h1 {
    font-size: 2.986rem;
  }
}
h2 {
  font-size: 1.802rem;
}
@media screen and (min-width: 640px) {
  h2 {
    font-size: 2.488rem;
  }
}
h3 {
  font-size: 1.602rem;
}
@media screen and (min-width: 640px) {
  h3 {
    font-size: 2.074rem;
  }
}
h4 {
  font-size: 1.424rem;
}
@media screen and (min-width: 640px) {
  h4 {
    font-size: 1.728rem;
  }
}
h5 {
  font-size: 1.266rem;
}
@media screen and (min-width: 640px) {
  h5 {
    font-size: 1.44rem;
  }
}
h6 {
  font-size: 1.125rem;
}
@media screen and (min-width: 640px) {
  h6 {
    font-size: 1.2rem;
  }
}
small {
  font-size: 0.889rem;
}
@media screen and (min-width: 640px) {
  small {
    font-size: 0.833rem;
  }
}
a {
  color: #7300e6;
  text-decoration: none;
}
body.dark a {
  color: #c9f;
}
a:hover {
  text-decoration: underline;
}
hr {
  border-color: rgba(0,0,0,0.1);
}
.container,
.container-sm {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1024px;
}
.container-sm {
  max-width: 640px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background: #f2f2f2;
}
body.dark .footer {
  background: #3d3d3d;
}
.hero {
  margin: 5rem 0;
}
.hero__description {
  max-width: 50ch;
}
.navbar {
  padding: 1rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
}
body.dark .navbar {
  box-shadow: 0 0 0 1px rgba(255,255,255,0.08);
}
.navbar__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}
.navbar__links {
  display: none;
}
@media screen and (min-width: 640px) {
  .navbar__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
  }
}
.navbar__mobile-links {
  display: none;
}
.navbar__mobile-links--open {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
@media screen and (min-width: 640px) {
  .navbar__mobile-links {
    display: none;
  }
}
.navbar__mobile-link {
  padding: 1rem;
  border-radius: 0.25rem;
}
.navbar__mobile-link:hover {
  background-color: #f2f2f2;
}
body.dark .navbar__mobile-link:hover {
  background-color: #3d3d3d;
}
.navbar__mobile-options {
  display: flex;
  gap: 0.25rem;
}
@media screen and (min-width: 640px) {
  .navbar__mobile-options {
    display: none;
  }
}
.navbar__button {
  display: block;
  line-height: 0;
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
}
.navbar__button:hover {
  background-color: #f2f2f2;
}
body.dark .navbar__button:hover {
  background-color: #3d3d3d;
}
body.dark .navbar__hamburger > svg {
  fill: #fff;
}
.navbar__link {
  display: inline-block;
  padding: 0.75rem;
}
.navbar__logo {
  display: inline-block;
  border-radius: 0.25rem;
  font-weight: bold;
}
.section-title {
  font-size: 1rem;
  color: #5c5c5c;
  font-weight: 600;
}
@media screen and (min-width: 640px) {
  .section-title {
    font-size: 1rem;
  }
}
body.dark .section-title {
  color: #ccc;
}
.card-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
}
.card {
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.06) , 0 2px 2px rgba(0,0,0,0.04) , 0 4px 4px rgba(0,0,0,0.05) , 0 6px 6px rgba(0,0,0,0.06);
}
body.dark .card {
  box-shadow: 0 0 0 1px rgba(255,255,255,0.06) , 0 2px 2px rgba(255,255,255,0.04) , 0 4px 4px rgba(255,255,255,0.05) , 0 6px 6px rgba(255,255,255,0.06);
}
.card__title {
  font-size: 1.266rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}
@media screen and (min-width: 640px) {
  .card__title {
    font-size: 1.44rem;
  }
}
.card__date {
  margin-top: 0;
  color: #5c5c5c;
  font-size: 0.889rem;
}
@media screen and (min-width: 640px) {
  .card__date {
    font-size: 0.833rem;
  }
}
body.dark .card__date {
  color: #ccc;
}
.card__description {
  margin: 0;
}
.card__subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.pagination {
  display: flex;
  margin: 1rem 0;
}
.pagination > a {
  display: block;
}
.pagination__next {
  margin-left: auto;
}
