{% set navPages = collections.all | eleventyNavigation %}
<nav class="navbar">
  <div class="navbar__inner">
    <a class="navbar__logo" href="{{ '/' | url }}">{{ site.meta.title }}</a>

    <div class="navbar__mobile-options">
      <div class="navbar__button dark-toggle" aria-label="toggle dark theme">
        <img src="{{ '/static/img/moon.svg' | url }}" alt="">
      </div>
      <button class="navbar__button navbar__hamburger" aria-expanded="false" aria-label="toggle menu">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#333333">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
      </button>
    </div>

    <div class="navbar__links">
      {% for entry in navPages %}
        <a class="navbar__link {% if entry.url == page.url %}navbar__link--active{% endif %}" href="{{ entry.url | url }}">
          {{ entry.title }}
        </a>
      {%- endfor %}

      <div class="navbar__button dark-toggle" aria-label="toggle dark theme">
        <img src="{{ '/static/img/moon.svg' | url }}" alt="">
      </div>

    </div>
  </div>

  <div class="navbar__mobile-links">
    {% for entry in navPages %}
      <a class="navbar__mobile-link {% if entry.url == page.url %}navbar__mobile-link--active{% endif %}" href="{{ entry.url | url }}">
        {{ entry.title }}
      </a>
    {%- endfor %}
  </div>

</nav>
