body
  margin 0
  line-height 1.5
  font-family default_font
  color text_color
  background-color bg_color
  min-height 100vh
  display grid
  grid-template-rows auto 1fr auto

  &.dark
    color text_color_dark
    background-color bg_color_dark
