h1
h2
h3
h4
h5
h6
p
  margin 0.75rem 0
  font-weight 400

for i in (1..6)
  h{i}
    text_scale_size (7 - i)

small
  text_scale_size -1

a
  color primary_color
  text-decoration none

  body.dark &
    color primary_color_dark

  &:hover
    text-decoration underline

hr
  border-color rgba(0, 0, 0, 0.1)